includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/phpstan/phpstan-webmozart-assert/extension.neon
parameters:
    checkBenevolentUnionTypes: true
    checkDynamicProperties: true
    checkImplicitMixed: true
    checkModelProperties: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    excludePaths:
        - bootstrap
        - config
        - public
        - storage
        - vendor
    ignoreErrors:
        - '#Parameter \#1 \$attributes of method Illuminate\\Database\\Eloquent\\.*::create\(\) expects array<string, mixed>, mixed given\.#'
        - '#Parameter \#1 \$attributes of method Illuminate\\Database\\Eloquent\\Model::update\(\) expects array<string, mixed>, mixed given\.#'
    level: 9
    paths:
        - .
    rememberPossiblyImpureFunctionValues: false
    reportAlwaysTrueInLastCondition: true
